@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor00: white;
    --cor01: black;
    --cor03: rgba(0, 0, 0, 0.449);
    --fontH1: "Passion One", sans-serif;
    --fontP: "Passion One", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

header {
    background-color: var(--cor01);
    height: 150px;
    max-width: 100%vw;
}

header>h1 {
    color: var(--cor00);
    text-align: center;
    padding: 25px 0px;
    font-family: var(--fontH1);
    font-size: 3rem;
}

header>p {
    color: var(--cor00);
    text-align: center;
    font-family: var(--fontP);
}

header a {
    color: var(--cor00);
    text-decoration: none;
    font-family: 'verdana';
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

main section{
    max-width: 100%vw;
    padding: 40px;
    box-shadow: 0px 2px 10px 3px rgba(60, 60, 60, 0.279);
}

main > section > p{
    max-width: 370px;
    padding: 30px;
    line-height: 3rem;
    font-weight: bold;
    font-size: 2rem;

}

.img01{
    background-image: url('../imagens/background001.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.img02{
    background-image: url('../imagens/background002.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.p_img{
    color: var(--cor00);
    background-color: var(--cor03);
}

footer{
    background-color: var(--cor01);
    color: var(--cor00);
    text-align: center;
    padding: 10px 0px;
    font-weight: bolder;
}

footer > p > a{
    text-decoration: none;
    color: var(--cor00);
}

footer a:hover{
    text-decoration: underline;
}






