@charset "UTF-8";

/*Configuração geral*/

* {
    margin: 0px;
}

/*Header*/

header {
    background-image: linear-gradient(to bottom, #56ff95, #174d37);
    height: 100%vh;
    padding-top: 6px;
    padding-bottom: 6px;
}

header>h1,
p {
    text-align: center;
    padding: 10px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: inline;
    margin: 20px 9px;
}

nav>a {
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

nav:hover>a {
    background-color: rgba(24, 237, 24, 0.699);
    border-radius: 3px;
    padding: 1px 2px;
}

/*Main*/

main {
    background-color: #76db9b;
}

article,
section {
    width: 1000px;
    margin: auto;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.568);
}

@font-face {
    font-family: 'desafio010';
    src: url('fontes/idroid.otf') format('opentype');
}

article>h1 {
    padding: 20px 5px 5px 5px;
    text-align: center;
    font-family: 'desafio010';
    color: darkgreen;
}

.article_p {
    color: black;
    text-indent: 25px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

article>h2 {
    margin: 20px 1px;
    margin-left: 10px;
    padding: 2px;
    background-image: linear-gradient(to right, rgba(144, 238, 144, 0.46), transparent);
    font-family: 'desafio010';
    color: darkgreen;
}

article>div>img {
    margin-left: 7svw;
}

.img_bugdroid {
    margin-left: 225px;
}

section {
    background-color: #174d37;
}

section>div>iframe {
    padding: 10px;
    margin-left: 210px;
    background-color: #56ff95;
}

.aprendizado {
    background-color: white;
    height: 100%vh;
    border-radius: 10px;
}

.aprendizado_div {
    width: 800px;
    height: 300px;
    background-color: rgba(4, 236, 158, 0.242);
    margin: auto;
    border-radius: 10px;
    padding-bottom: 10px;

}

.aprendizado_p {
    background-color: #06a541;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
    text-align: left;
    border-radius: 10px 10px 0px 0px;
}

li>img {
    height: 17px;
}

span {
    background-color: #76db9b;
    color: black;
}

span>a {
    text-decoration: none;
    color: black;
}

.espacamento {
    background-color: rgb(249, 249, 249);
    padding-top: 10px;
}

footer {
    background-color: #174d37;
}

.footer {
    margin-top: 15px;
}

footer>p {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

