@charset "UTF_8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor02);
    background-color: var(--cor01)
}

:root{
    --cor00: white;
    --cor01: rgba(211, 211, 211, 0.178);
    --cor02: black;
}

#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    background-color: var(--cor00);
}

a{
    text-decoration: none;
}

.globocom{
    color: #0E69DE;
}

.g1{
    color: #C4170C;
}

.ge{
    color: #06AA48;
}

.gshow{
    color: #FF6710;
}

.globoplay{
    color: #FB0334
}

span > i{
    color: var(--cor00);
    background-color: #06AA48;;
}

#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
    background-color: #06AA48;
    height: 60px;
}

main, section, article, h1, p{
    background-color: white;
}

h1{
    color: #06AA48;
    margin: 20px 15px 15px 20px;
}

p{
    margin: 0px 15px 15px 15px;
    text-align: justify;
}

/* img{
    width: 90vw;
} */

